.dropdown {
  max-width: 300px;

  &__string {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    margin: 0;
    padding: 14px 0;
    cursor: pointer;
  }

  &__button {
    border: none;
    background-color: transparent;
  }
}
