.dropdown {
  max-width: 300px;

  &__list {
    margin: 0;
  }

  &__string {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    margin: 0;
    cursor: pointer;
  }

  &__title {
    margin: 0 0 10px;
  }

  &__button {
    border: none;
    background-color: transparent;
  }

  &__point {
    cursor: pointer;
    margin: 10px 0;
  }
}
