.task {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px;
  transition: 0.3s linear;

  &:hover {
    box-shadow: 0 0 14px 3px rgba(193, 210, 233, 0.5);
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  &__button {
    cursor: pointer;
  }

  &__button_type_admin {
    display: none;
  }
}
